.random-game {
	width: 100%;
	min-height: 155px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	border-radius: 0 0 15px 15px;
	overflow: hidden;
	box-shadow: 0px 7px 18px -3px grey;
	background-color: rgb(226, 226, 226);
	.static {
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		background-color: rgb(194, 194, 194);
		& > div:nth-of-type(1) {
			font-weight: 700;
			color: #fff;
			font-size: 30px;
			align-self: end;
			padding-left: 50px;
		}
		button {
			height: 30px;
			width: 100px;
			align-self: center;
			border: none;
			border-radius: 5px;
			font-weight: 500;
			margin-left: 50px;
			cursor: pointer;
		}
	}
}

.game {
	display: grid;
	grid-template-columns: 200px auto;
	column-gap: 15px;
	padding: 20px;
	position: relative;
	img {
		max-width: 200px;
	}
}

@media (max-width: 500px) {
	.game {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr auto;
		img {
			justify-self: center;
		}
		&__descr {
			margin-top: 20px;
			text-align: center;
		}
	}
}
@media (max-width: 850px) {
	.random-game {
		grid-template-columns: 1fr;
		.static {
			display: none;
		}
	}
}

