* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}
ul {
	list-style: none;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container {
	max-width: 1020px;
	margin: 0 auto;
	padding: 0 10px;
}

@import url('./scss/_media.scss');

.btn {
		height: 30px;
		width: 100px;
		align-self: center;
		border: none;
		border-radius: 5px;
		font-weight: 500;
		margin-left: 50px;
		cursor: pointer;
		display: block;
		&_load-more {
			margin: 0 auto;
			background-color: rgb(88, 70, 70);
			margin-bottom: 50px;
			color: #fff;
		}
}